
/*
Configure Table, App and div elements look and feel and position
*/

.App {
  text-align: center;

}
table{
    width: 100%;
    margin-top: 102px;
    box-shadow: 2px 2px 5px #888888;
    height: 90px;
}
#table_size{
    width: 95%;
}
table, td, th{
    border: thin solid #61dafb;
    cursor: pointer;


   


}
td{
    font-weight: lighter;
}
.sport_event{
    border: thin;
    width: 100%;
    margin-top: 42px;
    text-align: center;

}

#what_ami{
    font-weight: bold;
    float: left;
}
#ok,#cancel{
    float: right;
    cursor: pointer;
    height: 24px;
    margin: 5px 2px 0 0;
    border: thin solid;

    border-radius: 2px;
}

#name{
    text-indent: 2px;
    height: 25px;
    float: right;
    width: 100%;
    border-radius: 2px;
    border: none;
}

.team:hover{
    border: thin solid;
    color: #6d6d6d;
    background: gold;
}

.vote{
    float: right;
    border: thin solid;
    border-radius: 2px;
   
    margin-right:60px;


}
#flag{
    width: 1%;
     float: left;
     margin-top: -6px;
    
     padding: 20px;
     background: url(sv.jpg) no-repeat;
     background-size: 60px;
   
  
}

#vote{
    border: thin solid;
    width: auto;
    height: 6vh;
    cursor: pointer;
   
}
#vote:hover{
  background: mediumslateblue;
    color: white;
    
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif,monospace;
}
.title{
    float: left;
     margin-left: 40px;
    font-size: large;
}
#home, #away{
    font-weight: lighter;
}
#draw{
    color: mediumslateblue;
}
.head{
   width: 100%;
   position: fixed;
    margin: 0 ;
    padding: 30px;
    box-shadow: 2px 2px 3px #888888;
     color: white;
     background: #282c34;
    top: 0;
    left: 0;
    right: 0;
  text-align: center;
  font-weight: bold;
}

.footer{
    width: 100%;
    position: fixed;
    margin: 0 ;
    bottom: 0;
    padding: 30px;
    text-align: left;
    font-size: small;
    color: white;
    background: #282c34;
    left: 0;
    right: 0;
 
    font-weight: bold;
}




